<div class="home-container">
    <h1>Simple Encrypted notes webApp</h1>
    
    <h3>Encrypted notes with Nodejs, Express, MongoDB and Ejs</h3>
        
    <div class="papper-container">
        <div class="papper papper-1"></div>
        <div class="papper papper-2"></div>
        <div class="papper papper-3"></div>
    </div>
  
</div>
