<section class="credentials-section">

    <div class="credentials-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            
            <input type="email" id="email" name="email" placeholder="E-mail">
            
            <input type="text" id="username" name="username" placeholder="User Name">
            
            <input type="password" id="password" name="password" placeholder="Password">

            <button type="submit">Login</button>
        </form>
    </div>

</section>