<section class="credentials-section">

    <div class="credentials-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            
            <input type="email" id="email" name="email" placeholder="E-mail">
            
            <input type="text" id="username" name="username" placeholder="User Name">
           
            <input type="password" id="password" name="password" placeholder="Password">            
            
            <input type="password" id="key" name="key" placeholder="Key">

            <button type="submit">Signup</button>
        </form>
    </div>

</section>